<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render "users/list", user: @user %>
			<%= render "books/new", book: @bookn %>

		</div>
		<div class="col-xs-9">
			<h3>Users</h3>

			<%= render "users/index", users: @users %>
			
		</div>
	</div>
</div>